doctype html
html
	head
		title CSS Heroes
		link(href='css/main.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body
		.lanterna
			.corpo
				.rosto
					.orelha-esq
					.orelha-dir
					.mascara
						.olho-esq
						.nariz
						.olho-dir
				.bg-simbolo
					.bola
						.lantern

		.flash
			.corpo
				.rosto
					.orelha-esq
					.orelha-dir
					.mascara
						.olho-esq
						.olho-dir
				.raio

		.minion
			.corpo
				.oculos
					.olho
						.iris
				.boca
					.dente
					.dente
					.dente
					.dente
					.lingua
				.roupa
					.alca-esq.alca
						.botao
					.alca-dir.alca
						.botao
					.centro
						.bolso
					.baixo

		