doctype html
html
	head
		title CSS Heroes
		link(href='https://fonts.googleapis.com/css?family=Russo+One', rel='stylesheet', type='text/css')
		link(href='css/main.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body
		.hulk
			.corpo
				.rosto
					.olho-esq
					.olho-dir
					.boca
						.dente
						.dente
						.dente
						.dente
						.dente
						.dente
						.dente
						.dente
				.abdomen
					span
					span
					span
					span
					span
					span
				.short
		.capitao
			.corpo
				.rosto
					.mascara
						.letra A
						.olho-esq
						.olho-dir
					.boca
				.estrela
				.listras

		.lanterna
			.corpo
				.rosto
					.orelha-esq
					.orelha-dir
					.mascara
						.olho-esq
							.iris
						.nariz
						.olho-dir
							.iris
					.boca
				.bg-simbolo
					.bola
						.lantern

		.flash
			.corpo
				.rosto
					.orelha-esq
					.orelha-dir
					.mascara
						.olho-esq
						.olho-dir
					.boca
				.raio

		.minion
			.corpo
				.oculos
					.olho
						.iris
				.boca
					.dente
					.dente
					.dente
					.dente
					.lingua
				.roupa
					.alca-esq.alca
						.botao
					.alca-dir.alca
						.botao
					.centro
						.bolso
					.baixo

		