doctype html
html
	head
		title CSS Heroes
		link(href='css/main.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body
		.minion
			.corpo
				.oculos
					.olho
						.iris
				.boca
					.dente
					.dente
					.dente
					.dente
					.lingua
				.roupa
					.alca-esq.alca
						.botao
					.alca-dir.alca
						.botao
					.centro
						.bolso
					.baixo

		